@use '../globals' ;

.card-grid {
  display: grid;
  align-self: center;
  grid-gap: 0 0;
  margin-inline: 5rem 2rem;
  margin-top: 0.1rem;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  min-height: 0.1rem;
  min-width: 0.1rem;
  max-height: 40rem;
  max-width: 20rem;
  //max-width: auto;
  //max-width: 100%;
  overflow: hidden;
  padding: 0;



  &__body{
    display: inline-block;
    position: relative;

    &__img{
      max-width: 100%;
      height: auto;
    }
  }

  &__header{
    display: flex;
    position: relative;
    color: var(--text_header);
    margin: 1rem 0 0.5rem 0;
    max-height: 1rem;
    text-transform: lowercase;
    justify-self: center;
  }

  h3 {
    font-weight: 300;
  }


  //all animations here
  &__animateCard-right {
    animation-duration: 1s;
    //animation: lefttoright 1s ease-in forwards 3 alternate 5s;
    //transition: ;
    animation-name: animate-cards1;
  }
  &__animateCard-left {
    animation-duration: 1s;
    animation-name: animate-cards2;
  }
  @keyframes animate-cards1 {
    0% {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(100%);
      transition: 1s;
    }
    100%{
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
  }
  @keyframes animate-cards2 {
    0% {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1s
    }
    100%{
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
  }
}

.small-card-grid{
  display: grid;
  justify-content: center;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  max-width: 8rem;
  max-height: 10rem;
  margin: 1rem 0 0 1rem;
  opacity: 0;

  &.stagger {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: stagger-animation;
  }
  //transition: transform 0.5s ease-in-out;
  @keyframes stagger-animation {
    from {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: 1s
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
  }


  h3 {
    font-weight: 300;
  }

  $second: 100;
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      animation-delay: #{$second}ms;
        $second: $second + 150 ;
    }
  }

}




//todo put code inside `media` query in case ppl dont like animation
@media (prefers-reduced-motion) {
  //sample animation:
  //.hidden { transition: none' }
  
}