html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "BIZ UDMincho", serif;
  background-color: var(--bg);
  color: hsl(0, 0%, 11%);
}

h1, h2, h3 {
  font-weight: 1000;
  line-height: 1.01;
  margin-top: 0;
}

h3 {
  line-height: 0.3;
}

h1 {
  line-height: 0.3;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

:root {
  --bg: #C6B7E4;
  --bg_secondary: #F0E9D6;
  --bg_header: #A594AA;
  --text_header: #655C6B;
}

:root.dark {
  --bg: #2E333E;
  --bg_header: #BE9396;
  --text_header: #EBE098;
  --text: #C3D9D3;
  --placeholder: #986B66;
}

.card-grid {
  display: grid;
  align-self: center;
  grid-gap: 0 0;
  margin-inline: 5rem 2rem;
  margin-top: 0.1rem;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  min-height: 0.1rem;
  min-width: 0.1rem;
  max-height: 40rem;
  max-width: 20rem;
  overflow: hidden;
  padding: 0;
}
.card-grid__body {
  display: inline-block;
  position: relative;
}
.card-grid__body__img {
  max-width: 100%;
  height: auto;
}
.card-grid__header {
  display: flex;
  position: relative;
  color: var(--text_header);
  margin: 1rem 0 0.5rem 0;
  max-height: 1rem;
  text-transform: lowercase;
  justify-self: center;
}
.card-grid h3 {
  font-weight: 300;
}
.card-grid__animateCard-right {
  animation-duration: 1s;
  animation-name: animate-cards1;
}
.card-grid__animateCard-left {
  animation-duration: 1s;
  animation-name: animate-cards2;
}
@keyframes animate-cards1 {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: 1s;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
@keyframes animate-cards2 {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.small-card-grid {
  display: grid;
  justify-content: center;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  max-width: 8rem;
  max-height: 10rem;
  margin: 1rem 0 0 1rem;
  opacity: 0;
}
.small-card-grid.stagger {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: stagger-animation;
}
@keyframes stagger-animation {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
.small-card-grid h3 {
  font-weight: 300;
}
.small-card-grid:nth-child(1) {
  animation-delay: 100ms;
}
.small-card-grid:nth-child(2) {
  animation-delay: 250ms;
}
.small-card-grid:nth-child(3) {
  animation-delay: 400ms;
}
.small-card-grid:nth-child(4) {
  animation-delay: 550ms;
}
.small-card-grid:nth-child(5) {
  animation-delay: 700ms;
}
.small-card-grid:nth-child(6) {
  animation-delay: 850ms;
}
.small-card-grid:nth-child(7) {
  animation-delay: 1000ms;
}
.small-card-grid:nth-child(8) {
  animation-delay: 1150ms;
}
.small-card-grid:nth-child(9) {
  animation-delay: 1300ms;
}

/*# sourceMappingURL=Cards.css.map */
