@use '../globals' ;

.intro-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  color: var(--bg_secondary); //todo change to better text color

  h1 {
    margin: 4rem 5rem 5rem 5rem;
    font-size: 5rem;
  }
  p {
    margin: 0 1rem 1rem 2rem;
  //  font-weight: 700;
  //  font-size: 2rem;
  }
}

.small-card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr)); //100px -> 6.25rem
  //grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;

}

.projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  justify-content: center;
  color: var(--bg_secondary);
}
