@use '../globals' ;
@use "../globals/_mixins.scss" as m;

//most grids= tab things
body {
  background-color: var(--bg, inherit);
  color: var(--text);
}
.intro-grid {
  @include m.grid-defaults;
  display: grid;
  align-self: center;
  margin-inline: 5rem 2rem; //yes,:
  margin-top: 0.1rem; //yes, im overriding the grid default
  min-height: 0.1rem;
  min-width: 0.1rem;
  max-height: 40rem;
  max-width: 20rem;
  overflow: hidden;

  &__body{
    display: inline-block;
    position: relative;
    &__img{
      max-width: 100%;
      height: auto;
    }
  }

  &__header{
    @include m.tab-header;
  }

  //animations
  &__fadein-right { //hello this is confusing vs stagger animation but i dont care :)
    @include m.fade-in-right;
  }

}

.small-card-grid{
  @include m.grid-defaults;
  min-height: 5rem;
  min-width: 9rem;
  opacity: 0;

  &__img {
    padding-inline: 2rem;
    min-height: 0.5rem;
    min-width: 0.5rem;
  }

  &.stagger { //animation
    @include m.stagger;
  }


  $second: 100;
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      animation-delay: #{$second}ms;
        $second: $second + 150 ;
    }
  }
}

.projects-grid { //the tab thing
  @include m.grid-defaults;
  min-height: 0.1rem;
  min-width: 0.1rem;
  max-height: 20rem;
  max-width: 30rem;
  overflow: hidden;
  opacity: 0;

  //todo remove

  &__header {
    @include m.tab-header;
  }

  &__done {
    color: var(--progress_done);
  }
  &__ongoing {
    color: var(--progress_ongoing);
  }

  &__img {
    aspect-ratio: 16/9;
    align-self: center;
    max-width: 100%;
    height: 100%;
    &:hover {
      transition: 0.6s;
      //background-color: var(--bg);
      opacity: 0;
    }
  }

  &__body {
    opacity: 0;
    align-self: center;
    padding: 1rem;
    color: var(--text_header);
  }
  &__fadein-up {
    @include m.fade-in-upwards;
  }

  &__fadein-down {
    @include m.fade-in-downwards;
  }

}

.hobbies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  place-items: center;

  &:hover {
    .hobbies-grid__img:nth-child(1) {
      transform: translate(-150%, -20%) rotate(-9deg);
    }
    .hobbies-grid__img:nth-child(2) {
      transform: translate(-130%, 30%)rotate(-30deg);
    }
    .hobbies-grid__img:nth-child(3) {
      transform: translate(-90%, -30%)  rotate(-20deg);
    }
    .hobbies-grid__img:nth-child(4) {
      transform: translateX(-60%) rotate(-5deg);
    }
    .hobbies-grid__img:nth-child(5) {
      transform: translate(-30%, -120%)  rotate(-3deg);
    }
    .hobbies-grid__img:nth-child(6) {
      transform: translate(30%, 3%) rotate(1deg);
    }
    .hobbies-grid__img:nth-child(7) {
      transform: translate(60%, 3%) rotate(3deg);
    }
    .hobbies-grid__img:nth-child(8) {
      transform: translate(90%, 100%) rotate(5deg);
    }
    .hobbies-grid__img:nth-child(9) {
      transform: translate(120%, -150%) rotate(7deg);
    }
    .hobbies-grid__img:nth-child(10) {
      transform: translate(150%, 3%) rotate(9deg);
    }
  }


  &__img {
    transition: transform 1s ease;
    position: absolute;
    border: 0.1px solid var(--border);
    border-radius: 15px;
    background-color: var(--bg_secondary);
    overflow: hidden;
    aspect-ratio: 5 / 7;
    margin-top: 50rem;
    //max-height: available;
    max-width: 20rem;


    &:nth-child(1) {
      transform: translateX(-90%);
    }
    &:nth-child(2) {
      transform: translateX(-60%);
    }
    &:nth-child(3) {
      transform: translateX(-30%);
    }

    &:nth-child(8) {
      transform: translate(30%, 3%);
    }
    &:nth-child(9) {
      transform: translate(60%, 4%);
    }
    &:nth-child(10) {
      transform: translate(90%, 5%);
    }
  }
  &__fadein-up {
    @include m.fade-in-upwards;
  }

  &__fadein-down {
    @include m.fade-in-downwards;
  }


}


//todo put code inside `media` query in case ppl dont like animation
@media (prefers-reduced-motion) {
  //sample animation:
  //.hidden { transition: none' }
  
}