html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before *::after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  padding: 0;
  font-family: "DotGothic16", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

h1, h2, h3 {
  font-weight: 1000;
  line-height: 1.01;
  margin-top: 0;
}

h3 {
  line-height: 0.3;
}

h1 {
  font-size: 5rem;
}

p {
  margin-top: 0;
  font-size: 1.5rem;
}

a, a:visited, a:active {
  text-decoration: none;
}

:root {
  --bg: #F4A7A0;
  --bg_secondary: #F4E8D2;
  --bg_header: #A594AA;
  --text_header: #4F4541;
  --text: #F0E9D6;
}

:root.dark {
  --bg: #2E333E;
  --bg_header: #BE9396;
  --text_header: #EBE098;
  --text: #C3D9D3;
  --placeholder: #986B66;
}

@keyframes fade-in-outwards {}
.intro-grid {
  display: grid;
  align-self: center;
  grid-gap: 0 0;
  margin-inline: 5rem 2rem;
  margin-top: 0.1rem;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  min-height: 0.1rem;
  min-width: 0.1rem;
  max-height: 40rem;
  max-width: 20rem;
  overflow: hidden;
}
.intro-grid__body {
  display: inline-block;
  position: relative;
}
.intro-grid__body__img {
  max-width: 100%;
  height: auto;
}
.intro-grid__header {
  display: flex;
  position: relative;
  color: var(--text_header);
  margin: 1rem 0 0.5rem 0;
  max-height: 1rem;
  text-transform: lowercase;
  justify-self: center;
}
.intro-grid h3 {
  font-weight: 300;
}
.intro-grid__fadein-right {
  animation-name: fade-in-right;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: 0.5s;
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.small-card-grid {
  display: grid;
  justify-content: center;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  max-width: 8rem;
  max-height: 10rem;
  margin: 3rem 0 0 1rem;
  opacity: 0;
}
.small-card-grid__img {
  padding-inline: 2rem;
}
.small-card-grid.stagger {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: stagger;
}
@keyframes stagger {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
.small-card-grid h3 {
  font-weight: 300;
}
.small-card-grid:nth-child(1) {
  animation-delay: 100ms;
}
.small-card-grid:nth-child(2) {
  animation-delay: 250ms;
}
.small-card-grid:nth-child(3) {
  animation-delay: 400ms;
}
.small-card-grid:nth-child(4) {
  animation-delay: 550ms;
}
.small-card-grid:nth-child(5) {
  animation-delay: 700ms;
}
.small-card-grid:nth-child(6) {
  animation-delay: 850ms;
}
.small-card-grid:nth-child(7) {
  animation-delay: 1000ms;
}
.small-card-grid:nth-child(8) {
  animation-delay: 1150ms;
}
.small-card-grid:nth-child(9) {
  animation-delay: 1300ms;
}

.projects-grid {
  display: grid;
  justify-content: center;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  min-height: 0.1rem;
  min-width: 0.1rem;
  max-height: 20rem;
  max-width: 30rem;
  margin: 3rem 0 0 1rem;
  overflow: hidden;
  object-fit: cover;
}
.projects-grid__title {
  justify-self: center;
  margin-top: 9rem;
}
.projects-grid__header {
  display: flex;
  position: relative;
  color: var(--text_header);
  margin: 1rem 0 0.5rem 0;
  max-height: 1rem;
  text-transform: lowercase;
  justify-self: center;
}
.projects-grid__img {
  max-width: 100%;
  height: auto;
}
.projects-grid__fadein-up {
  animation-name: fade-in-upwards;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fade-in-upwards {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
.projects-grid__fadein-down {
  animation-name: fade-in-downwards;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fade-in-downwards {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=dashboard.css.map */
