html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before *::after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  padding: 0;
  font-family: "DotGothic16", sans-serif;
  color: var(--text);
}

h1, h2, h3 {
  font-weight: 1000;
  line-height: 1.01;
  margin-top: 0;
}

h3 {
  line-height: 0.3;
  font-weight: 300;
}

h1 {
  font-size: 5rem;
  margin-top: 10rem;
  justify-self: center;
}

p {
  margin-top: 0;
  font-size: 1.5rem;
}

a, a:visited, a:active {
  text-decoration: none;
}

:root {
  --bg: #F4A7A0;
  --bg_secondary: #F4E8D2;
  --bg_header: #A594AA;
  --text_header: #4F4541;
  --text: #F0E9D6;
}

.dark {
  --bg: #2E333E;
  --bg_secondary: #BE9396;
  --bg_header: #BE9396;
  --text_header: #EBE098;
  --text: #C3D9D3;
  --placeholder: #986B66;
}

@keyframes fade-in-outwards {}
body {
  background-color: var(--bg, inherit);
  color: var(--text);
}

.intro-grid {
  display: grid;
  align-self: center;
  grid-gap: 0 0;
  margin-inline: 5rem 2rem;
  margin-top: 0.1rem;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  min-height: 0.1rem;
  min-width: 0.1rem;
  max-height: 40rem;
  max-width: 20rem;
  overflow: hidden;
}
.intro-grid__body {
  display: inline-block;
  position: relative;
}
.intro-grid__body__img {
  max-width: 100%;
  height: auto;
}
.intro-grid__header {
  display: flex;
  position: relative;
  color: var(--text_header);
  margin: 1rem 0 0.5rem 0;
  max-height: 1rem;
  text-transform: lowercase;
  justify-self: center;
}
.intro-grid__fadein-right {
  animation-name: fade-in-right;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: 0.5s;
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.small-card-grid {
  display: grid;
  justify-content: center;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  max-width: 8rem;
  max-height: 10rem;
  margin: 3rem 0 0 1rem;
  opacity: 0;
}
.small-card-grid__img {
  padding-inline: 2rem;
}
.small-card-grid.stagger {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: stagger;
}
@keyframes stagger {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
.small-card-grid:nth-child(1) {
  animation-delay: 100ms;
}
.small-card-grid:nth-child(2) {
  animation-delay: 250ms;
}
.small-card-grid:nth-child(3) {
  animation-delay: 400ms;
}
.small-card-grid:nth-child(4) {
  animation-delay: 550ms;
}
.small-card-grid:nth-child(5) {
  animation-delay: 700ms;
}
.small-card-grid:nth-child(6) {
  animation-delay: 850ms;
}
.small-card-grid:nth-child(7) {
  animation-delay: 1000ms;
}
.small-card-grid:nth-child(8) {
  animation-delay: 1150ms;
}
.small-card-grid:nth-child(9) {
  animation-delay: 1300ms;
}

.projects-grid {
  display: grid;
  justify-content: center;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  min-height: 0.1rem;
  min-width: 0.1rem;
  max-height: 20rem;
  max-width: 30rem;
  margin: 3rem 0 0 1rem;
  overflow: hidden;
  object-fit: cover;
  opacity: 0;
}
.projects-grid__header {
  display: flex;
  position: relative;
  color: var(--text_header);
  margin: 1rem 0 0.5rem 0;
  max-height: 1rem;
  text-transform: lowercase;
  justify-self: center;
}
.projects-grid__img {
  max-width: 100%;
  height: auto;
}
.projects-grid__fadein-up {
  animation-name: fade-in-upwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fade-in-upwards {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.projects-grid__fadein-down {
  animation-name: fade-in-downwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fade-in-downwards {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.hobbies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  place-items: center;
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(1) {
  transform: translate(-150%, -20%) rotate(-9deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(2) {
  transform: translate(-130%, 30%) rotate(-30deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(3) {
  transform: translate(-90%, -30%) rotate(-20deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(4) {
  transform: translateX(-60%) rotate(-5deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(5) {
  transform: translate(-30%, -120%) rotate(-3deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(6) {
  transform: translate(30%, 3%) rotate(1deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(7) {
  transform: translate(60%, 3%) rotate(3deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(8) {
  transform: translate(90%, 100%) rotate(5deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(9) {
  transform: translate(120%, -150%) rotate(7deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(10) {
  transform: translate(150%, 3%) rotate(9deg);
}
.hobbies-grid__img {
  transition: transform 1s ease;
  position: absolute;
  border: 0.1px solid var(--bg);
  border-radius: 15px;
  background-color: var(--bg_secondary);
  overflow: hidden;
  aspect-ratio: 5/7;
  margin-top: 50rem;
  max-height: available;
  max-width: 20rem;
}
.hobbies-grid__img:nth-child(1) {
  transform: translateX(-90%);
}
.hobbies-grid__img:nth-child(2) {
  transform: translateX(-60%);
}
.hobbies-grid__img:nth-child(3) {
  transform: translateX(-30%);
}
.hobbies-grid__img:nth-child(8) {
  transform: translate(30%, 3%);
}
.hobbies-grid__img:nth-child(9) {
  transform: translate(60%, 4%);
}
.hobbies-grid__img:nth-child(10) {
  transform: translate(90%, 5%);
}
.hobbies-grid__fadein-up {
  animation-name: fade-in-upwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fade-in-upwards {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.hobbies-grid__fadein-down {
  animation-name: fade-in-downwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fade-in-downwards {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/*# sourceMappingURL=dashboard.css.map */
