html, body, #root, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: "DotGothic16", sans-serif;
  color: var(--text);
}

h1, h2, h3 {
  white-space: nowrap;
}

h2, h3 {
  font-weight: 1000;
  line-height: 1.01;
  margin-top: 0;
}

h3 {
  line-height: 0.3;
  font-weight: 300;
  font-size: calc(10px + 0.5vw);
}

h1 {
  font-size: calc(9px + 7vw);
  margin-top: 10rem;
  justify-self: center;
}

p {
  margin-top: 0;
  font-size: calc(12px + 0.8vw);
}

a, a:visited, a:active {
  text-decoration: none;
}

:root {
  --bg: #F4A7A0;
  --bg_secondary: #F4E8D2;
  --bg_header: #A594AA;
  --text_header: #4F4541;
  --text: #4d352e;
  --border: #F4A7A0;
  --progress_ongoing: #ffaa6e;
  --progress_done: #8db58d;
}

.dark {
  --bg: #2F343F;
  --bg_secondary: #BE9396;
  --bg_header: #BE9396;
  --text_header: #fdf6b7;
  --text: #C3D9D3;
  --border: #EBE098;
  --progress_ongoing: #e3ebff;
  --progress_done: #acffac;
}

.hobbies-grid {
  display: grid;
  place-items: center;
  opacity: 0;
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(1) {
  transform: translate(-150%, -20%) rotate(-20deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(2) {
  transform: translate(-150%, 10%) rotate(-20deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(3) {
  transform: translate(-90%, 10%) rotate(-20deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(4) {
  transform: translateX(-60%) rotate(-5deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(5) {
  transform: translate(-30%, -120%) rotate(-3deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(6) {
  transform: translate(10%, 3%) rotate(1deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(7) {
  transform: translate(60%, -20%) rotate(3deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(8) {
  transform: translate(90%, 50%) rotate(5deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(9) {
  transform: translate(120%, -150%) rotate(7deg);
}
.hobbies-grid:hover .hobbies-grid__img:nth-child(10) {
  transform: translate(150%, 3%) rotate(9deg);
}
.hobbies-grid__img {
  position: absolute;
  border-radius: 15px;
  max-width: 20rem;
  background-color: var(--bg_secondary);
  overflow: hidden;
  transition: transform 1s ease;
  border: 0.1px solid var(--border);
}
.hobbies-grid__img:nth-child(1) {
  transform: translateX(-90%);
}
.hobbies-grid__img:nth-child(2) {
  transform: translateX(-60%);
}
.hobbies-grid__img:nth-child(3) {
  transform: translateX(-30%);
}
.hobbies-grid__img:nth-child(4) {
  transform: translateX(-30%);
}
.hobbies-grid__img:nth-child(5) {
  transform: translateX(-30%);
}
.hobbies-grid__img:nth-child(6) {
  transform: translateX(10%);
}
.hobbies-grid__img:nth-child(7) {
  transform: translateX(-30%);
}
.hobbies-grid__img:nth-child(8) {
  transform: translate(30%, 3%);
}
.hobbies-grid__img:nth-child(9) {
  transform: translate(60%, 4%);
}
.hobbies-grid__img:nth-child(10) {
  transform: translate(90%, 5%);
}
@media (min-width: 300px) {
  .hobbies-grid__img {
    max-width: 8rem;
    margin-top: 18rem;
  }
  .hobbies-grid .hobbies-grid__img:nth-child(1) {
    transform: translate(-150%, -20%) rotate(-20deg);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(2) {
    transform: translate(-150%, 10%) rotate(-20deg);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(3) {
    transform: translate(-90%, 10%) rotate(-20deg);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(4) {
    transform: translateX(-60%) rotate(-5deg);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(5) {
    transform: translate(-30%, -120%) rotate(-3deg);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(6) {
    transform: translate(10%, 3%) rotate(1deg);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(7) {
    transform: translate(60%, -20%) rotate(3deg);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(8) {
    transform: translate(90%, 50%) rotate(5deg);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(9) {
    transform: translate(120%, -150%) rotate(7deg);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(10) {
    transform: translate(150%, 3%) rotate(9deg);
  }
}
@media (min-width: 650px) {
  .hobbies-grid__img {
    max-width: 10rem;
    margin-top: 25rem;
  }
}
@media (min-width: 900px) {
  .hobbies-grid__img {
    margin-top: 35rem;
    max-width: 15rem;
  }
}
@media (min-width: 1440px) {
  .hobbies-grid__img {
    max-width: 20rem;
    margin-top: 40rem;
  }
  .hobbies-grid .hobbies-grid__img:nth-child(1) {
    transform: translateX(-90%);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(2) {
    transform: translateX(-60%);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(3) {
    transform: translateX(-30%);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(4) {
    transform: translateX(-30%);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(5) {
    transform: translateX(-30%);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(6) {
    transform: translateX(10%);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(7) {
    transform: translateX(-30%);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(8) {
    transform: translate(30%, 3%);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(9) {
    transform: translate(60%, 4%);
  }
  .hobbies-grid .hobbies-grid__img:nth-child(10) {
    transform: translate(90%, 5%);
  }
}
.hobbies-grid__fadein-up {
  animation-name: fade-in-upwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fade-in-upwards {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.hobbies-grid__fadein-down {
  animation-name: fade-in-downwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fade-in-downwards {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/*# sourceMappingURL=hobbies.css.map */
