@use '../globals' ;
@use "../globals/_mixins.scss" as m;
@use "../globals/_media.scss" as s;

.hobbies-grid {
    display: grid;
    place-items: center;
    opacity: 0;

    &:hover {
        @include m.blast(".hobbies-grid__img");

    }
    &__img {
        position: absolute;
        border-radius: 15px;
        max-width: 20rem;
        margin-top: 50rem;
        background-color: var(--bg_secondary);
        overflow: hidden;
        transition: transform 1s ease;
        border: 0.1px solid var(--border);

        @include m.unblast("&");
    }



    @include s.mobile-small {
        &__img {
            aspect-ratio: 4 / 3;
            max-width: 8rem;
            margin-top: 18rem;

        }
        @include m.blast(".hobbies-grid__img");
    }
    @include s.desktop {
        &__img {
            aspect-ratio: 5 / 7;
            max-width: 20rem;
            margin-top: 50rem;

        }
        @include m.unblast(".hobbies-grid__img");
    }
    &__fadein-up {
        @include m.fade-in-upwards;
    }

    &__fadein-down {
        @include m.fade-in-downwards;
    }


}