//this file just showcases css custom variables, other than that, useless
//notion devtools showed me how to light/dark themes

:root{
  --bg: #F4A7A0;
  --bg_secondary: #F4E8D2; //header color
  --bg_header: #A594AA; //header text color
  --text_header: #4F4541; //normal text color or
  --text: #F0E9D6;
}

.dark{ //based on arc dark theme
  --bg: #2F343F;
  --bg_secondary: #BE9396; //header color
  --bg_header: #BE9396; //header color
  --text_header: #EBE098; //header text color
  --text: #C3D9D3; //normal text color
  --placeholder: #986B66;
}
