h1, h2, h3 { //compound selectors: selectors separated by comma
  font-weight: 1000; //bold
  line-height: 1.01; //ensures line height of each line of text is a little taller than the usual fontsize itself //1.1 = 110%
  margin-top: 0; //browsers by default add margin top and bottom; can either remove on, depending on ur pref.
}
h3{
  line-height: 0.3;
}
h1{
  font-size: 5rem;
  //line-height: 0.3;
}

p {
  margin-top: 0;
  font-size: 1.5rem;
}

a, a:visited, a:active {
  text-decoration: none; //removes line that are added to links by default
}